body {
    background-color: #272822;
    color: #f9f8f5;
    font: 14px helvetica, arial, sans-serif;
    text-align: center;
}

a {
    color: #66d9ef;
    text-decoration: none;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.site {
    background-color: #272822;
    max-width: 50em;
    margin: 2em auto 2em auto;
    padding: 2em;
}

.posttitle {
    overflow: hidden;
    border-top: thin double #fd871f;
}

.posttitle h2 {
    float: left;
}

#date {
    float: right;
    margin: 2em;
}

#title a {
    color: #fd871f;
    font-family: monospace;
    font-weight: bold;
}

#content {
    text-align: justify;
}


