body {
    background-color: #49483e;
    color: #f9f8f5;
    font: 14px helvetica, arial, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

.site {
    background-color: #272822;
    max-width: 50em;
    margin: 2em auto 2em auto;
}

#title a {
    color: #fd871f;
    font-family: monospace;
    font-weight: bold;
}

#content {
    text-align: justify;
}

#content a {
    color: #66d9ef;
    font-style: italic;
}

